.navbar {
  width: 100%;
  background: #00000030;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-title {
  font-size: 1.1rem;
  width: 25%;
}

.links {
  width: 50%;
}

.navbar-searchbar {
  width: 25%;
}

@media screen and (max-width: 560px) {
  .navbar-title {
    font-size: 1rem;
    width: 40%;
  }
  
  .links {
    width: 60%;
  }

  .navbar-searchbar {
    width: 100%;
  }
}
