.search-bar {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #00000080;
  padding: 10px;
  background: #ffffff80;
}

.search-bar input {
  font-size: 1rem;
  border: none;
  transition: 1s ease-in-out;
  width: 10vw;
  background: none;
}

.search-bar input:focus {
  outline: none;
  width: 18vw;
}

.search-bar .icon {
  float: right;
}

.search-bar-icon {
  width: 20px;
  opacity: 0.5;
}
